.ql-toolbar.ql-snow {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ql-container.ql-snow {
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 75vh;
}
